<!-- siia tuleb tulemus -->
<table>
    <tr>
        <th>Töötaja palk ja maksud</th>
    </tr>
    <tr>
        <td>Brutopalk</td>
        <td>{{$brutopalk}}</td>
    </tr>
    <tr>
        <td>Töötuskindlustus (töötaja) (1.6%)</td>
        <td>{{$tootajaMaksud["tootjaTootuskindlustus"]}}</td>
    </tr>
    <tr>
        <td>Kogumispension (2%)</td>
        <td>{{$tootajaMaksud["kogumispension"]}}</td>
    </tr>
    <tr>
        <td>Tulumaks (20%)</td>
        <td>{{$tootajaMaksud["tulumaks"]}}</td>
    </tr>
    <tr>
        <td>Netosumma (kätte)</td>
        <td>{{$tootajaMaksud["netopalk"]}}</td>
    </tr>


</table>
<br>

<table>
    <tr>
        <th>Tööandja kulud ja maksud</th>
    </tr>

    <tr>
        <td>Sotsiaalmaks (33%)</td>
        <td>{{$tooandjaKulud["sotsiaalmaks"]}}</td>
    </tr>
    <tr>
        <td>Töötuskindlustus (tööandja) (0.8%)</td>
        <td>{{$tooandjaKulud["tooandjaTootuskindlustus"]}}</td>
    </tr>
    <tr>
        <td>Kogukulu tööandjale</td>
        <td>{{$tooandjaKulud["kogukulu"]}}</td>
    </tr>
    <tr>
        <td>Brutopalk</td>
        <td>{{$brutopalk}}</td>
    </tr>
</table>




